# Description: Raspberry Pi Pico with direct OLED
#
# Standard Raspberry Pi Pico with OLED display
# connected directly via I2C. No separate display MCU.

# CONFIG_BOARD_BTT_PICO is not set
CONFIG_BOARD_PICO=y
# CONFIG_BOARD_FEATHER_RP2040 is not set
# CONFIG_BOARD_CUSTOM_RP2040 is not set
CONFIG_BOARD_CONFIG="configs/boards/pico.toml"

# CONFIG_DISPLAY_V0_MINI is not set
CONFIG_DISPLAY_DIRECT_OLED=y
# CONFIG_DISPLAY_NONE is not set
# CONFIG_BUILD_DISPLAY_FW is not set

CONFIG_MACHINE_CONFIG="configs/machines/default.toml"
CONFIG_MOTOR_TYPE="stepper"

CONFIG_DEFMT_LOG=y
# CONFIG_RELEASE_BUILD is not set
